@* Modal content *@

<div id="confirmationMessage" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Внимание</h3>
    </div>
    <div class="modal-body">
        <p>Попълненият от Вас документ съдържа грешки. Сигурни ли сте, че искате да го подадете в този вид?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Не</button>
        <button class="btn btn-primary" id="submitInvalidDocument">Да</button>
    </div>
</div>