<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AISWebEntities" connectionString="metadata=res://*/AISWebEntities.csdl|res://*/AISWebEntities.ssdl|res://*/AISWebEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TLSQL2012\MSSQL2012;initial catalog=AISKAO;persist security info=True;user id=aiskao;password=aiskao;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="AISWebEntities" connectionString="metadata=res://*/AISWebEntities.csdl|res://Eservices.Public.DataAccess/TechnoLogica.Eservices.Public.DataAccess.Oracle.ssdl|res://*/AISWebEntities.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;Data Source=hrmsn.ad.tlogica.com;User Id=aiskao_dev;Password=aiskao_dev;Pooling=False;&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <oracle.dataaccess.client>
    <settings>
      <add name="bool" value="edmmapping number(1,0)" />
      <add name="byte" value="edmmapping number(3,0)" />
      <add name="int16" value="edmmapping number(5,0)" />
      <add name="int32" value="edmmapping number(10,0)" />
      <add name="int64" value="edmmapping number(19,0)" />
    </settings>
  </oracle.dataaccess.client>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>