@model TechnoLogica.Eservices.Public.Site.Models.Administration.GetAdministrationInfoViewModel

@{
    ViewBag.Title = TechnoLogica.Eservices.Public.Site.Resources.ViewTitles.About;
    
}

@section pagedescription {
<p>
    Това е официално уеб приложение на @Model.Name
    по смисъла на чл. 10, ал. 3 от Закона за електронното управление. При използването на приложението, моля да имате предвид следното:
</p>
}

<div>
    <h3>Съдържание, налично в това уеб приложение</h3>
    <p>Съдържанието на информационните ресурси, разположени на този портал, са
    съобразени с изискванията на действащото в Република България законодателство. В
    случай, че установите несъответствия, неактуалност, недостоверност или
    незаконосъобразност на публикуваната информация, моля да ни уведомите незабавно.
    Наличната в приложението информация от правно естество няма характер на правна
    консултация, а е предоставена само с информативна цел. Настъпили вреди, вследствие
    на предприети правни или фактически действия само въз основа на информацията,
    налична в това приложение, са изцяло за сметка на предприелите действията
    лица.
    </p>
    <h3>Отговорност за чуждо съдържание</h3>
    <p>@Model.Name не носи отговорност за законосъобразността, пълнотата, верността и 
    актуалността на съдържанието на информационни ресурси на трети лица, към които могат да сочат
    електронни препратки от това уеб приложение, нито за законосъобразността на
    дейността на тези трети лица. Ако установите случаи на електронни препратки към
    информационни ресурси с неактуално, невярно или непълно съдържание или към
    информационни ресурси, чието съдържание противоречи на действащото
    законодателство, моля да ни уведомите незабавно.
    </p>
    <h3>Авторски права</h3>
    <p>Софтуерът, осигуряващ функционирането на това уеб приложение, неговият дизайн,
    включително цялата налична в него информация, доколкото не съставляват
    обществена информация, са обект на авторско право. Никаква част от обектите на
    закрила не може да се възпроизвежда, да се превежда, променя или използва по какъвто
    и да е начин без предварителното писмено съгласие на @Model.Name.
    </p>
    <h3>Лични данни</h3>
    <p>
    Лични данни се събират чрез това уеб приложение и се обработват от @Model.Name 
    единствено за нуждите на
    предоставянето на електронни административни услуги, при строго спазване на
    изискванията на Закона за електронното управление и Закона за защита на личните
    данни. Събирането и обработването на лични данни за други цели се извършва
    доброволно и само след изрично съгласие на предоставящите ги лица, при спазване
    изискванията на Закона за защита на личните данни.
    </p>
</div>