@{
    ViewBag.Title = TechnoLogica.Eservices.Public.Site.Resources.ViewTitles.AccessibilityPolicy;
}
@section pagedescription {
<p>
    За да отговорим на изискванията и критериите за ниво на достъпност, 
    поставени от Европейската комисия относно интернет страниците на публичната администрация, 
    и същевременно да посрещнем изискванията на текущите интернет технологии, 
    ще се придържаме към стандартите на WCAG 2.0 и ниво на съответствие "Двойно-A"
</p>
}
<div id="accessibility-policy">
    <h3>Инициатива за уеб достъпност (Web Accessibility Initiative)</h3>
    <p>Този портал покрива ниво на достъпност двойно-А според последните стандарти 
    на World Wide Web Consortium - Web Content Accessibility Guidelines 2.0 (WCAG 2.0), 
    като използва най-добрите практики и техники.</p>
    <p>WCAG 2.0 обяснява как съдържанието в интернет страниците да бъде направено по-достъпно за хора с увреждания. 
    Изпълнението на насоките ще помогне на повече хора да се чувстват удобно и да се възползват от предимствата 
    на интернет.</p>
    <h3>W3C Стандарти</h3>
    <p>Този портал е изграден с код съвместим с W3C стандартите за XHTML и CSS.
        Той се възпроизвежда коректно в наличните към момента интернет браузъри и използването му
        гарантира съвместимост и с бъдещите нови или подобрени браузъри.</p>
    <h3>Изключения</h3>
    <p>Макар да се стремим да осигурим съвместимост с наличните стандарти за достъпност, 
    това не винаги е възможно във всеки един аспект. Браузърите и техниките за разработка 
    и достъп до интернет се развиват много бързо и понякога някой от стандартните изисквания 
    за достъпност стават излишни.</p>
</div>