@{
    ViewBag.Title = "Информация за ползване";
}

<br />
<p>
    Чрез този портал за електронни услуги можете да заявите админстративна услуга по електрорнен път, както и да проверите статуса на вече заявена услуга, независимо по какъв канал е заявена тя (дори и на гише).
    <br />
    Проверката на статус е възможна при положение, че сте предоставили валиден адрес на електронна поща, на който системата Ви е изпратила деловодния № на заявената услуга, както и уникален код за достъп до преписката!
</p>
<p>
    Страницата <strong>"Заявяване на услуга"</strong> е начална страница на този портал за електронни услуги, но Вие можете да се върнете на нея от всяка друга страница на портала, натискайки бутона "Заявяване на услуга" от менюто горе вдясно:
</p> 
 
<img src='@Url.Content("~/Images/HelpPage/menu_home_button.png")' class="img-polaroid img-rounded imgMargin" alt="Заявяване на електронна административна услуга" />

<p>
    На страницата <strong>"Заявяване на услуга"</strong> можете да видите списъка с налични услуги, които може да заявите по електронен път в портала.
    <br />
    Чрез бутона <strong>"Детайли"</strong>, може да отворите страница с информация за хода на административното производство по избраната електронна услуга, изискуеми реквизити, такси, срокове и др.
</p>  
  
<img src="@Url.Content("~/Images/HelpPage/e_service_details_button.png")" class="img-rounded img-polaroid imgMargin" alt="Детайли за електронна административна услуга" />
<p>
    Чрез бутона <strong>"Заяви"</strong> ще отворите електронен формуляр за попълване на заявление за избраната услуга.
</p>
    
<img src="@Url.Content("~/Images/HelpPage/e_service_start_button.png")" class="img-polaroid img-rounded imgMargin" alt="Заявяване на електронна административна услуга" />

<p>
    <strong>Електронният формуляр</strong> представлява набор от информационни полета, които трябва да попълните, за да заявите услугата, като накрая е задължително да подпишете така създадения електронен документ - заявление, с <strong>Квалифициран електронен подпис (КЕП)</strong>.
</p>
<p>
    Задължителните полета във формуляра са обрамчени с тънка червена линия. Без да сте ги попълнили, няма да можете да продължите нататък. За някои от полетата съществуват задължителни формални проверки, които се стартират веднага след като излезете от полето. Ако въведената от Вас стойност не отговаря на проверката, то полето се обрамчва в червено и задържайки мишката над него, може да прочетете съобщението за допуснатата грешка.
</p>
<p>
    По подразбиране полетата на формуляра са настроени така, че заявителят (автор) и получателят (титуляр) на услугата да са едно и също физическо лице ( със сложена отметка в полето "Авторът съвпада с получателя"). 
    Тази настройка може да бъде променена чрез премахване на отметката в полето.
</p>
<p>
    След като попълните електронния формуляр и натиснете бутона "Преглед", полетата ще се заключат за редакция. Ако има допуснати грешки при попълването, те ще Ви се покажат и ще трябва да бъдат коригирани. Ако няма грешки при попълването, можете да продължите напред към подпидването с КЕП( за целта е необходимо предварително да са инсталирани драйверите за КЕП от Вашия доставчик на електронни подписи) и заявяването на услугата.
</p>
